* {
	font-family: sans-serif;
	color: #ffffff;
}
body {
	background-color: #7e7e7e;
}
h1 {
	font-size: 200%;
	font-weight: bold;
}
h2 {
	font-size: 150%;
	font-weight: normal;
}
a {
	color: #8888ff;
	text-decoration: none;
}
a:visited {
	color: #dd44dd;
}